<!doctype html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>Skullcat</title>
  <meta name="author" content="Jxnblk">
  <meta name="description" content="Skullcat for Mrmrs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="basscss.min.css" rel="stylesheet">
  <style>
    .fill-white { fill: white; }
    svg { max-height: 100%; }
    .bg-dark-gray { background-color: #222; }
    @-webkit-keyframes fade-out {
      from { opacity: 1; }
      to { opacity: 0; }
    }
    .fade-out {
      opacity: 0;
      -webkit-animation: fade-out .5s ease;
    }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="plangular.js"></script>
  <script src="animangular.js"></script>
</head>
<body class="white bg-dark-gray" ng-app="plangular">

  <header class="center" plangular data-src="http://soundcloud.com/mrsjxn/bbb">
    <div animangular class="relative" >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 576" ng-click="player.play()">
        <rect width="1024" height="576" fill="#111"/>
        <g transform="translate(496 252)">
          <g ng-show="frame.eyes == true" id="eyes"
            ng-attr-style=" transition: -webkit-transform .5s linear;
            -webkit-transform-origin: 50% 50%;
            -webkit-transform: scale({{ (ms < 7000) && (ms / 1000) * 1.714 || !(ms) && 0.001 || 12 }});" >
            <path fill="#161616" d=" M2 0 C4 0 10 5 10 5 C13 4 15 4 16 4 C17 4 18 4 22 5 C22 5 28 0 30 0 C31 0 32 10 32 16 C32 26 24 30 16 30 C8 30 0 26 0 16 C0 10 1 0 2 0 "/>
            <path fill="#af0" d="
              M4 18 A4 4 0 0 0 12 18 A4 4 0 0 0 4 18
              M5.5 18 A2.5 2.5 0 0 1 10.5 18 A2.5 2.5 0 0 1 5.5 18
              M20 18 A4 4 0 0 0 28 18 A4 4 0 0 0 20 18
              M21.5 18 A2.5 2.5 0 0 1 26.5 18 A2.5 2.5 0 0 1 21.5 18
            "/>
          </g>
        </g>
        
        <rect ng-if="frame.flash" class="fade-out" width="1024" height="576" fill="#f30"/>
        <circle ng-if="frame.dot" cx="64" cy="64" r="32" opacity=".5" fill="#0ff"/>
        <circle ng-if="frame.dot2" cx="512" cy="32" r="32" opacity=".5" fill="#0ff"/>

        <g ng-if="frame.skull" class="fade-out" transform="translate(320 96)" >
          <g transform="scale(12)" >
            <path fill="#333" d=" M2 0 C4 0 10 5 10 5 C13 4 15 4 16 4 C17 4 18 4 22 5 C22 5 28 0 30 0 C31 0 32 10 32 16 C32 26 24 30 16 30 C8 30 0 26 0 16 C0 10 1 0 2 0 "/>
            <path fill="#fff" d="M16 7 C13 7 2 9 2 16 C2 23 6 23 10 24 L11 28 L12 26 L20 26 L21 28 L22 24 C26 23 30 23 30 16 C30 9 19 7 16 7 M4 18 A4 4 0 0 1 12 18 A4 4 0 0 1 4 18 M20 18 A4 4 0 0 1 28 18 A4 4 0 0 1 20 18 "/>
          </g>
        </g>
        <g ng-if="frame.skullGlow" transform="translate(320 96)" >
          <filter id="multiply">
            <feBlend mode="screen" />
          </filter>
          <g transform="scale(12)" >
            <path fill="#f30" filter="url(#multiply)" opacity="0.5" d="M16 7 C13 7 2 9 2 16 C2 23 6 23 10 24 L11 28 L12 26 L20 26 L21 28 L22 24 C26 23 30 23 30 16 C30 9 19 7 16 7 M4 18 A4 4 0 0 1 12 18 A4 4 0 0 1 4 18 M20 18 A4 4 0 0 1 28 18 A4 4 0 0 1 20 18 ">
            <animateTransform
               attributeName="transform" type="translate"
               values="0 0;2 0;0 0" dur=".1s" repeatCount="indefinite"/>
            </path>
            <path fill="#0cf" filter="url(#multiply)" opacity="0.5" d="M16 7 C13 7 2 9 2 16 C2 23 6 23 10 24 L11 28 L12 26 L20 26 L21 28 L22 24 C26 23 30 23 30 16 C30 9 19 7 16 7 M4 18 A4 4 0 0 1 12 18 A4 4 0 0 1 4 18 M20 18 A4 4 0 0 1 28 18 A4 4 0 0 1 20 18 ">
            <animateTransform
               attributeName="transform" type="translate"
               values="0 0;-2 0;0 0" dur=".1s" repeatCount="indefinite"/>
            </path>
          </g>
        </g>
        <g ng-if="frame.waves" id="waves" class="xfade-out" transform="scale(32 20) translate(0 -2)" fill="none" stroke="#0cf" stroke-width=".125" opacity=".6">
          <path d=" M-32 4 C-24 4 -24 28 -16 28 C-8 28 -8 4 0 4 C8 4 8 28 16 28 C24 28 24 8 32 8 ">
            <animateTransform attributeName="transform" type="translate" values=" 0 0; 32 0 " dur="0.8s" repeatCount="indefinite" />
          </path>
          <path d=" M-32 12 C-24 12 -24 20 -16 20 C-8 20 -8 12 0 12 C8 12 8 20 16 20 C24 20 24 12 32 12 ">
            <animateTransform attributeName="transform" type="translate" values=" 0 0; 32 0 " dur="0.6s" repeatCount="indefinite" />
          </path>
          <path d=" M-32 8 C-24 8 -24 24 -16 24 C-8 24 -8 8 0 8 C8 8 8 24 16 24 C24 24 24 8 32 8 ">
            <animateTransform attributeName="transform" type="translate" values=" 0 0; 32 0 " dur="0.2s" repeatCount="indefinite" />
          </path>
        </g>
        <g ng-if="frame.bars" id="bars" fill="#f30" opacity=".5" transform="scale(16 8) translate(16 16)">
          <path transform="translate(2)" d="M0 12 V20 H4 V12z"> 
            <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
          </path>
          <path transform="translate(8)" d="M0 12 V20 H4 V12z">
            <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.2" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
          </path>
          <path transform="translate(14)" d="M0 12 V20 H4 V12z">
            <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.4" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
          </path>
          <path transform="translate(20)" d="M0 12 V20 H4 V12z">
            <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.6" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
          </path>
          <path transform="translate(26)" d="M0 12 V20 H4 V12z">
            <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.8" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
          </path>
        </g>

      </svg>
      <pre class="h2 absolute t0 r0 p2">{{ ms }} | {{ bar }}.{{ beat }}</pre>
      <div class="absolute r0 b0 l0" style="height:2rem">
        <div class="absolute t0 r0 b0 l0 bg-mid-gray"></div>
        <div class="absolute t0 b0 l0 bg-white" style="width:{{ (currentTime / duration) * 100 || 0 }}%"></div>
        <div class="absolute t0 r0 b0 l0" ng-click="seekTo($event)"></div>
      </div>
    </div>
    <div>
      <a href ng-click="player.play(track)" ng-hide="player.playing == track"><div plangular-icon="play" class="fill-white"></div></a>
      <a href ng-click="player.pause()" ng-show="player.playing == track"><div plangular-icon="pause" class="fill-white"></div></a>
    </div>
  </header>

  <!--
  <svg id="single-color" class="bg-grid" opacity=".8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="256" height="256" fill="#777">
    <path d="
      M2 0
      C4 0 10 5 10 5
      C13 4 15 4 16 4
      C17 4 18 4 22 5
      C22 5 28 0 30 0
      C31 0 32 10 32 16
      C32 26 24 30 16 30
      C8 30 0 26 0 16
      C0 10 1 0 2 0

      M16 7
      C13 7 2 9 2 16
      C2 23 6 23 10 24
      L11 28 L12 26
      L20 26 L21 28
      L22 24
      C26 23 30 23 30 16
      C30 9 19 7 16 7

      M4 18
      A4 4 0 0 1 12 18
      A4 4 0 0 1 4 18
      M20 18
      A4 4 0 0 1 28 18
      A4 4 0 0 1 20 18
    "/>
  </svg>
  -->

  <!--
  <svg id="two-color" class="xbg-grid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="256" height="256">
    <path fill="#333" d=" M2 0 C4 0 10 5 10 5
      C13 4 15 4 16 4
      C17 4 18 4 22 5
    C22 5 28 0 30 0 C31 0 32 10 32 16 C32 26 24 30 16 30 C8 30 0 26 0 16 C0 10 1 0 2 0 "/>
    <path fill="#fff" d="M16 7 C13 7 2 9 2 16 C2 23 6 23 10 24 L11 28 L12 26 L20 26 L21 28 L22 24 C26 23 30 23 30 16 C30 9 19 7 16 7 M4 18 A4 4 0 0 1 12 18 A4 4 0 0 1 4 18 M20 18 A4 4 0 0 1 28 18 A4 4 0 0 1 20 18 "/>
  </svg>
  -->

<!--
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" height="64" fill="white">
  <path opacity=".8" d="
    M16 4
    C12 4 0 8 0 16
    C0 26 6 26 10 27.5
    L11 32 L12 29
    L20 29 L 21 32
    L22 27.5
    C26 26 32 26 32 16
    C32 8 20 4 16 4
    M2 19
    A5 5 0 0 1 12 19
    A5 5 0 0 1 2 19
    M20 19
    A5 5 0 0 1 30 19
    A5 5 0 0 1 20 19
  "/>
</svg>
-->

<!--
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="#111" width="256" height="256">
  <path opacity=".9" d="
    M4 0 L10 5
    C14 4 18 4 22 5
    L28 0 
    C29 4 32 12 32 16
    C32 26 24 30 16 30
    C8 30 0 26 0 16
    C0 12 3 4 4 0

    M16 6
    C13 6 2 9 2 16
    C2 23 6 23 10 24.5
    L11 28 L12 26
    L20 26 L21 28
    L22 24.5
    C26 23 30 23 30 16
    C30 9 19 6 16 6

    M4 18
    A4 4 0 0 1 12 18
    A4 4 0 0 1 4 18
    M20 18
    A4 4 0 0 1 28 18
    A4 4 0 0 1 20 18
  "/>
</svg>
-->

  <!--
  <path opacity=".2" fill="cyan" d="
    M16 4
    A16 12 0 0 0 0 16
    A16 12 0 0 0 16 28
    A16 12 0 0 0 32 16
    A16 12 0 0 0 16 4
  "/>
  -->
  <!--
  <path opacity=".8" d="
    M16 4
    C12 4 0 8 0 16
    C0 26 6 26 10 27.5
    L11 32 L12 29
    L20 29 L 21 32
    L22 27.5
    C26 26 32 26 32 16
    C32 8 20 4 16 4
    M2 19
    A5 5 0 0 1 12 19
    A5 5 0 0 1 2 19
    M20 19
    A5 5 0 0 1 30 19
    A5 5 0 0 1 20 19
  "/>
  -->

  <!--
  <path fill="cyan" opacity=".5" d="
    M4 0 L2 12 L14 4z
    M28 0 L30 12 L18 4z
  "/>
  <path fill="cyan" opacity=".5" d="
    M16 4 A16 14 0 0 0 0 18 A16 12 0 0 0 16 30 A16 12 0 0 0 32 18 A16 14 0 0 0 16 4
  "/>
  -->

  <!--
  <path opacity=".8" d="
    M16 4
    A16 12 0 0 0 0 16
    A16 12 0 0 0 10 27.5
    L11 32 L12 29
    L20 29 L 21 32
    L22 27.5
    A16 12 0 0 0 32 16
    A16 12 0 0 0 16 4
    M2 18
    A5 5 0 0 1 12 18
    A5 5 0 0 1 2 18
    M20 18
    A5 5 0 0 1 30 18
    A5 5 0 0 1 20 18
  "/>
  -->
  <!--
  <path d="
    M16 0
    C14 0 11 1 10 2
    C9 3 9 4 8 6
    C6 7 2 10 2 12
    C2 14 3 18 4 20
    C5 21 8 22 8 22
    L10 32
    L12 28

    L20 28
    L22 32
    L24 22
    C24 22 27 21 28 20
    C29 18 30 14 30 12
    C30 10 26 7 24 6
    C23 4 23 3 22 2
    C21 1 18 0 16 0
    z

    M8 9
    A4 5 0 0 1 8 19
    A4 5 0 0 1 8 9

    M24 9
    A4 5 0 0 1 24 19
    A4 5 0 0 1 24 9
  "/>
  -->

</body>
</html>
