/* Skullcat Styles */

.fill-white { fill: white; }
svg { max-height: 100%; }
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
.fade-out {
  opacity: 0;
  -webkit-animation: fade-out .5s ease forwards;
  animation: fade-out .5s ease forwards;
}
@-webkit-keyframes boom {
  0% { -webkit-transform: scale(1); }
  6.25% { -webkit-transform: scale(1.25); }
  100% { -webkit-transform: scale(.75); }
}
@keyframes boom {
  0% { transform: scale(1); }
  6.25% { transform: scale(1.25); }
  100% { transform: scale(.75); }
}
.splode {
  -webkit-transform-origin: 50% 50%;
  opacity: 0;
  -webkit-animation: boom .625s ease-out forwards, fade-out .625s ease-out forwards;
  animation: boom .625s ease-out forwards, fade-out .625s ease-out forwards;
}
@-webkit-keyframes vibrate {
  0% { -webkit-transform: translateX(-2px); }
  50% { -webkit-transform: translateX(2px); }
  100% { -webkit-transform: translateX(-2px); }
}
@keyframes vibrate {
  0% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  100% { transform: translateX(-2px); }
}
.vibrate1 {
  -webkit-animation: vibrate .1s linear infinite;
  animation: vibrate .1s linear infinite;
}
.vibrate2 {
  -webkit-animation: vibrate .1s .05s linear infinite;
  animation: vibrate .1s .05s linear infinite;
}
.vibrate-fade-out {
  -webkit-animation: vibrate .1s linear infinite, fade-out .5s ease forwards;
  animation: vibrate .1s linear infinite, fade-out .5s ease forwards;
}
@-webkit-keyframes spin-grow {
  from { -webkit-transform: rotate(45deg) scale(1); }
  to { -webkit-transform: rotate(945deg) scale(4); }
}
@keyframes spin-grow {
  from { transform: rotate(45deg) scale(1); }
  to { transform: rotate(945deg) scale(4); }
}
.spin-grow {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin-grow 6.66s linear;
  animation: spin-grow 6.66s linear;
}
.spin-grow-2 {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin-grow 4.995s linear;
  animation: spin-grow 4.995s linear;
}
@-webkit-keyframes strobe {
  from { opacity: .6; }
  to { opacity: 0; }
}
@keyframes strobe {
  from { opacity: .6; }
  to { opacity: 0; }
}
.strobe {
  -webkit-animation: strobe .05s steps(2) infinite;
  animation: strobe .05s steps(2) infinite;
}
@-webkit-keyframes warp {
  from { -webkit-transform: scale(.1); }
  to { -webkit-transform: scale(8); }
}
@keyframes warp {
  from { transform: scale(.1); }
  to { transform: scale(8); }
}
.warp-fast {
  -webkit-transform: scale(.1);
  transform: scale(.1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: warp .205s ease-in infinite;
  animation: warp .205s ease-in infinite;
}
.warp1 {
  -webkit-transform: scale(.1);
  transform: scale(.1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: warp .41s ease-in infinite;
  animation: warp .41s ease-in infinite;
}
.warp2 {
  -webkit-transform: scale(.1);
  transform: scale(.1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: warp .41s .2s ease-in infinite;
  animation: warp .41s .2s ease-in infinite;
}
.warp3 {
  -webkit-transform: scale(.1);
  transform: scale(.1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: warp .41s .3s ease-in infinite;
  animation: warp .41s .3s ease-in infinite;
}
.bg-fade {
  background-image: linear-gradient(to bottom left, rgba(255,51,0,.1), rgba(0,204,255,.1));
}
.bg-lines {
  background-image: linear-gradient(rgba(0,0,0,0) 87.5%, rgba(0,0,0,.1) 87.5%);
  background-size: .25rem .25rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes up {
  from { -webkit-transform: translateY(64rem); }
  to { -webkit-transform: translateY(-64rem); }
}
@keyframes up {
  from { transform: translateY(64rem); }
  to { transform: translateY(-64rem); }
}
.bg-video-lines {
  background-image: linear-gradient(rgba(0,0,0,0) 98%, rgba(0,0,0,.1) 99%, rgba(0,0,0,0) 100%);
  background-size: 64rem 32rem;
  background-repeat: repeat;
  -webkit-animation: up 26.666s linear infinite;
  animation: up 26.666s linear infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.gpu { transform: translateZ(0); }
@media (min-width:40em) {
  .table { display: table; table-layout: fixed; width: 100%; }
  .table-cell { display: table-cell; vertical-align: middle; }
}
.mobile-table { display: table; table-layout: fixed; width: 100%; }
.mobile-table-cell { display: table-cell; vertical-align: middle; }
.pointer { cursor: pointer; }
.button-circle {
  text-align: center;
  width: 2em; height: 2em;
  padding: 0;
  line-height: 2em;
  border-radius: 50%;
}
.button-circle svg {
  width: 1em; height: 1em;
  position: relative;
  left: .125em;
  top: .125em;
}
.button-ghost {
  color: #fff;
  box-shadow: inset 0 0 0 .125em #fff;
}
.button-ghost:hover {
  color: #444;
  background-color: #fff;
}
.button-ghost svg { fill: #fff; }
.button-ghost:hover svg { fill: #444; }

.min-h100 { min-height: 100%; }

